<!doctype html>
	<head>
		<title>RainJeff - Unsubscribe</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
		<meta name="theme-color" content="#607d8b">
	</head>

    <body background="{{ url_for('static', filename='images/bg.png') }}">
        <nav class="blue-grey" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">RainJeff</a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/unsubscribe">Unsubscribe</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/unsubscribe">Unsubscribe</a></li>
                </ul>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <div class="card">
					<br>
					<h5 class="grey-text center">:(</h5>
                    <div class="row">
                        <form class="col s12" action="" method=post enctype=multipart/form-data>
                            <div class="container">
								<div class="row">
									<div class="input-field col s12">
										<input id="email" type="text" class="validate" name=email>
										<label for="email">Email</label>
									</div>
								</div>
								<div class="row">
									<div class="col s3">
										<button class="btn waves-effect waves-light blue-grey lighten-3" type="submit" name="action" value="upload">Submit
										<i class="material-icons right">send</i>
									</button>
								</div>
							</div>
			      		</form>
			    	</div>
				</div>
			</div>
	  	</div>
		<!--
	  	<footer class="page-footer orange">
	   		<div class="container">
				Made for <a class="center-align orange-text text-lighten-3" href="http://2016.hackcmu.com">Hack CMU 2016</a>
			</div>
	  	</footer>
		-->
	</body>
</html>

