<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/input.js') }}"></script>
	<meta name="theme-color" content="#607d8b">
    <title>Shortest Path</title>
</head>

<body>
    <nav class="blue-grey" role="navigation">
       <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">What's the Shortest Path Between My Classes?</a>
       </div>
    </nav>
    <div class="container">
    <h1>Input your schedule</h1>
    <form class="" action="" method=post enctype=multipart/form-data>
        <div class="card">
            <div class="card-content">
            <div class="row">
               <div class="inputfield col s6 13">
                    <input id="building1" type="text" class="validate" name=building1>
                    <label for="building1">Building</label>
               </div>
               <div class="inputfield col s6 13">
                    <input id="room1" type="text" class="validate" name=room1>
                    <label for="room1">Room</label>
                </div>
            </div>
            <div class="row">
               <div class="inputfield col s6 13">
                     <input id="building2" type="text" class="validate" name=building2>
                     <label for="building2">Building</label>
               </div>
               <div class="inputfield col s6 13">
                    <input id="room2" type="text" class="validate" name=room2>
                    <label for="room2">Room</label>
                </div>
            </div>
            <div id="newrows"></div>
        <!--next to text boxes-->
        <a onclick="addrow()" class="btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        <!--<button class="btn-disabled waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i></button>-->
        <button class="btn waves-effect waves-light" type="submit" name="action" align="center">Submit
            <i class="material-icons right">send</i></button>
        </div>
        </div>
    </form>
    </div>
</body>
</html>