<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" media="screen,projection"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
	<meta name="theme-color" content="#607d8b">
    <title>Map</title>
    <style></style>
</head>
<body>
    <nav class="blue-grey" role="navigation">
       <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">What's the Shortest Path Between My Classes?</a>
       </div>
    </nav>
    <!--loading bar?-->
    <!--map api-->
    <!--collapsible list of schedule & other info (total distance)?-->
<a href="general.html" class="waves-effect waves-light btn"><i class="material-icons right">replay</i>Input Another Schedule</a>
</body>
</html>